@tailwind base;
@tailwind components;
@tailwind utilities;


.neon-purple-border {
    border: 2px solid #8a2be2; /* Neon purple color */
    box-shadow: 0 0 5px #8a2be2, 0 0 10px #8a2be2, 0 0 20px #8a2be2;
  }

  h5 {
    color: white; /* Sets the text color to white */
    font-size: 1.5rem; /* Sets the font size to 1.5rem (24px) */
    font-weight: 600; /* Sets the font weight to semi-bold */
    margin-bottom: 1rem; /* Adds a bottom margin of 1rem (16px) */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow to the text */
    border-bottom: 2px solid rgba(255, 255, 255, 0.3); /* Adds a semi-transparent bottom border */
    padding-bottom: 0.25rem; /* Adds padding at the bottom for space between text and border */
  }